---
import { Todos } from '../components';
import { query } from '../utils';
import * as todoServices from '../components/todos.services';

await query.client.prefetchQuery({
  queryKey: ['todos'],
  queryFn: todoServices.fetchTodos,
});
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Todos client:only='react' />
  </body>
</html>
